<%= form_for @profile, :html => { :class => 'form-horizontal',:multipart => true } do |f| %>


    <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              <form class="bs-example form-horizontal">
                <fieldset>
                  <legend>基本資料</legend>
                  
                  <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">商店名稱</label>
                    <div class="col-lg-10">
                      <%= f.text_field :title, :class => 'text_field, form-control',placeholder: "店名" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputCategory" class="col-lg-2 control-label">商店類別</label>
                    <div class="col-lg-10">
                      <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] } , :class => 'form-control'%>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">電話</label>
                    <div class="col-lg-10">
                      <%= f.number_field :phone, :class => 'number_field, form-control',placeholder: "電話" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputFax" class="col-lg-2 control-label">傳真</label>
                    <div class="col-lg-10">
                      <%= f.number_field :fax, :class => 'number_field, form-control',placeholder: "傳真" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputaAddress" class="col-lg-2 control-label">地址</label>
                    <div class="col-lg-10">
                      <%= f.text_field :address, :class => 'text_field, form-control',placeholder: "地址"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputaBoss" class="col-lg-2 control-label">負責人</label>
                    <div class="col-lg-10">
                      <%= f.text_field :boss, :class => 'text_field, form-control',placeholder: "負責人"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">簡介</label>
                    <div class="col-lg-10">
                      <%= f.text_area :description, :class => 'text_area, form-control',:row => '3' %>
                      <span class="help-block">您可以在此簡短的介紹這家店的特色與優惠。</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textPledge" class="col-lg-2 control-label">優質堅持</label>
                    <div class="col-lg-10">
                      <%= f.text_area :pledge, :class => 'text_area, form-control',:row => '3' %>
                      <span class="help-block">店家的優質堅持宣言。</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textMap" class="col-lg-2 control-label">地圖</label>
                    <div class="col-lg-10">
                      <%= f.text_area :map, :class => 'text_area, form-control',:row => '3' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textPhoto" class="col-lg-2 control-label">簡介圖片</label>
                    <div class="col-lg-10">
                      <%= f.file_field :photo, :class => 'text_field' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputDatetime" class="col-lg-2 control-label">營業時間</label>
                    <div class="col-lg-10">
                      <%= f.datetime_select :datetime, :class => 'datetime, form-control'%>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="textPromotions" class="col-lg-2 control-label">優惠項目</label>
                    <div class="col-lg-10">
                      <%= f.text_area :promotions, :class => 'text_area, form-control',:row => '3' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputLink" class="col-lg-2 control-label">相關連結</label>
                    <div class="col-lg-10">
                      <%= f.text_field :link, :class => 'text_field, form-control'%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputReference" class="col-lg-2 control-label">推薦人</label>
                    <div class="col-lg-10">
                      <%= f.text_field :reference, :class => 'text_field, form-control',placeholder: "（僅供委員會參考，將不顯示於網頁上）"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textRecommendation" class="col-lg-2 control-label">推薦留言</label>
                    <div class="col-lg-10">
                      <%= f.text_area :recommendation, :class => 'text_area, form-control',:row => '3' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="textNote" class="col-lg-2 control-label">備註</label>
                    <div class="col-lg-10">
                      <%= f.text_area :note, :class => 'text_area, form-control',:row => '3' %>
                    </div>
                  </div>

                    <div class="form-actions, pull-right">
                      <%= f.submit '送出', :class => 'btn btn-primary' %>
                      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                                  profiles_path, :class => 'btn' %>
                    </div>

                </fieldset>
              </form>
            </div>
          </div>
        </div>
        
      </div>

    <% end %>
