<%- model_class = Profile -%>
<div class="page-header">
  <h1>特約商店</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>編號</th>
      <th>商店名稱</th>
      <th>商店類別</th>
      <th>電話</th>
      <th>地址</th>
      <th>營業時間</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.id, profile_path(profile) %></td>
        <td><%= link_to profile.title, profile_path(profile) %></td>
        <td><%= profile.category.name %></td>
        <td><%= profile.phone %></td>
        <td><%= profile.address %></td>
        <td><%= profile.datetime %></td>
        <td>
          <%= link_to '編輯',edit_profile_path(profile), :class => 'btn btn-mini' %>
          <%= link_to '刪除' ,profile_path(profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '你確定嗎?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_profile_path,
            :class => 'btn btn-primary' %>


    