<%- model_class = Profile -%>
<div class="page-header">
  <h1>商店基本資料</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @profile.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd>  <%= @profile.category.name %></dd>


  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @profile.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
  <dd><%= @profile.fax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @profile.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:boss) %>:</strong></dt>
  <dd><%= @profile.boss %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @profile.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pledge) %>:</strong></dt>
  <dd><%= @profile.pledge %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map) %>:</strong></dt>
  <dd><%= @profile.map %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo) %>:</strong></dt>
  <dd><%= image_tag(@profile.photo_url, :width => 300) if @profile.photo.present? %></dd>

  <dt><strong><%= model_class.human_attribute_name(:promotions) %>:</strong></dt>
  <dd><%= @profile.promotions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:datetime) %>:</strong></dt>
  <dd><%= @profile.datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= @profile.link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference) %>:</strong></dt>
  <dd><%= @profile.reference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:recommendation) %>:</strong></dt>
  <dd><%= @profile.recommendation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @profile.note %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              profiles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path(@profile), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              profile_path(@profile),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
