/* Cerulean
 * Bootswatch
 *= require_self
 *= require cerulean/loader
 *= require cerulean/bootswatch
*/
/*全站使用，距上邊 60px */

body {
  padding-top: 60px;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}