<!DOCTYPE html>
<html>
<head>
  <title> <%= @page_title || "正心中學特約商店" %> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p style="color: green"><%= flash[:notice] %></p>
	<p style="color: red"><%= flash[:alert] %></p>
	<%= yield %>

</body>
</html>
