<!DOCTYPE html>
<html lang="zn-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "rails_crud_group" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "cerulean", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">正心高級中學特約商店</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href='/'>首頁</a></li>
            <li><a href="/profiles">特約商店</a></li>
            <li><a href="/categories">新增類別</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">會員管理<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">加入會員</a></li>
                <li><a href="#">登入</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">oAuth 2.0</li>
                <li>
                  <div id="user-widget">
                    <% if current_user %>
                      Welcome <strong><%= current_user.name %></strong>!
                      <%= link_to "Sign out", signout_path, id: "sign_out" %>
                    <% else %>
                      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
                      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
                    <% end %>
                  </div>
                  </li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
     
      <%= yield %>

        <footer class="footer">
          <small>
            © Copyright, 2013 <a href="http://www.shsh.ylc.edu.tw">正心高級中學</a> All Rights Reserved.
          </small>  

          <nav>
            <ul>
              <li><a href='http://www.shsh.ylc.edu.tw'>正心高級中學</a></li>
              <li><a href="http://student.coolsea.net">大魏老師的資訊課程</a></li>
            </ul>
          </nav>
        </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "cerulean" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
